<div class="navbar" *ngIf="authService.isLoggedIn() && !isLoginPage()">
  <h2>Ticket System</h2>

  <div class="nav-links">
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/tickets">View Tickets</a>

    <span>
      Role: {{ authService.getRole() }}
    </span>

    <button (click)="logout()">Logout</button>
  </div>
</div>

<div
  class="toast"
  *ngIf="toastService.toast"
  [ngClass]="toastService.toast.type">
  {{ toastService.toast.message }}
</div>

<router-outlet></router-outlet>